<ul class="list-group">
	<li  class="list-group-item list-group-item-info">Players:</li>
	<li  class="list-group-item" *ngFor="let player of players"  [ngClass]="{'bg-light':player.game.displayUtility.highlightedPlayer == player}">

		<h5>
			<span class="badge badge-primary" *ngIf="player.id==player.game.currentPlayer.id" >*</span>
			<player-name  [player]="player"></player-name>
			<dollar class="float-right" [cash]="player.cash"></dollar>
		</h5>
	</li>
</ul>
