
<div  class=" p-2 ">
<div  class=" card h-100">
	<div class="card-body h-100">

		<h5 ><span>Your location: {{gameService.stateManager.game.userPlayer.field.name}}. </span>
		<span *ngIf="dialog.displayedText">{{dialog.displayedText}}</span></h5>
		<button *ngIf="dialog.canPlayerRoll" class="btn btn-primary" (click)="rollDice()">
		ROLL
		</button>
		<button *ngIf="dialog.canPlayerBuyField" class="btn btn-primary" (click)="dialog.buyField()">
		BUY PARCEL <dollar [cash]="dialog.fieldPrice"></dollar>
		</button>
		<button *ngIf="dialog.canPlayerEndTurn" class="btn btn-primary" (click)="dialog.endTurn()">
		END TURN
		</button>
		<button *ngIf="dialog.canPlayerGetOutOfJail" class="btn btn-primary" (click)="dialog.useGetOutOfJailCard()">
		USE GET OUT OF JAIL CARD
		</button>
		<button *ngIf="dialog.canPlayerBail" class="btn btn-primary" (click)="dialog.payBail()">
		PAY BAIL <dollar [cash]="50"></dollar>
		</button>
		<p>Profits & Expenses since last turn:<dollar [cash]='dialog.saldo'></dollar></p>
		<span *ngIf="dialog.game.userPlayer.hasGetOutOfJailCard" class="badge badge-success">You have a Get Out Of Jail Card!</span>

	</div>
</div>
</div>
