body{
	background-color:#73647E;
	color:#555555;

	font-family: Arial;
	font-weight:normal;
	font-size:20px;
	line-height:1.6em;
}

.container{
	width:80%;
	margin:auto;
}

.jumbotron {
	posistion:relative;
	z-index: 2;
	box-shadow: 0 8px 16px -6px black;
	background-color:#F8F6F6;
}

#monopoly-title p {
	font-size: 60px;
	font-style:normal;
	text-transform:uppercase;
	text-align:center;
}

.col-lg-4 {
	width:40%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.resize {
	max-width:150px;
	max-height:150px;
}

.table {
	background: white;
	height: 450px;
	margin: auto;
	margin-top:50px;
	max-width: 900px;
	width: 100%;
	box-shadow: 0 8px 16px -6px black;
}

th, td {
    text-align: center;
    vertical-align: middle;
}

th {
	color:#fff;
	background:#555555;
	border-right: 1px solid #bbb;
	padding:12px;
}

th:last-child {
	border-right:none;
}

.table-body {
	padding-left:12px;
	box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

td {
	border-right: 1px solid #bbb;
	vertical-align:middle;
}


td:last-child {
	border-right: none;
}

tr:first-child {
	background:#00ff80;
}

tr:hover td {
  background:#777;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}