
<!--<field *ngFor="let field of game.fields" [field]="field" ></field> -->

<!--
<table >
  <tbody>
    <tr>
      <td style="width:20%">
				<field [field]="specialFields[0]"  [orientation]="'edge'"></field>
			</td>
      <td style="width:60%">
				<div style="display:flex; flex-direction:row; width:100%; align-items:stretch">
				<field *ngFor="let field of upperFields" [field]="field" [orientation]="'up'"></field>
				</div>
			</td>
      <td style="width:20%">
				<field [field]="specialFields[1]" [orientation]="'edge'"></field>
			</td>
    </tr>
    <tr>
      <td> <field *ngFor="let field of leftFields.reverse()" [field]="field" [orientation]="'left'"></field>  </td>
      <td> <game-dialog [dialog]="game.dialog"></game-dialog>   </td>
      <td> <field *ngFor="let field of rightFields" [field]="field" [orientation]="'right'"></field> </td>
    </tr>
    <tr>
      <td>  <field [field]="specialFields[3]" [orientation]="'edge'"></field> </td>
      <td> <field *ngFor="let field of downFields.reverse()" [field]="field" [orientation]="'down'"></field> </td>
      <td>   <field [field]="specialFields[2]" [orientation]="'edge'"></field> </td>
    </tr>
  </tbody>
</table>
-->

 <table class="table-main table-bordered w-100 h-100" (mouseleave)="onMouseout()">
	 <tbody>
		 <tr class="h-25">
			 <td  class="w-25">
				  <field [field]="specialFields[0]"  [orientation]="'edge_ul'"></field>

			 	</td>
			 <td *ngFor="let field of upperFields">
				<field  [field]="field" [orientation]="'up'"></field>
			 	</td>
			 <td class="w-25">
				<field [field]="specialFields[1]"  [orientation]="'edge_ur'"></field>
			 	</td>
		 </tr>

		 <tr *ngFor="let leftField of leftFields; let i = index;">
			 <td>
				<field  [field]="leftField" [orientation]="'left'"></field>
				</td>
			<td *ngIf="i==0" colspan="9" rowspan="9" class="h-50 w-50" >
				<div class="h-100">
				<game-dialog [dialog]="game.dialog"></game-dialog>
				<field-detail *ngIf="game.displayUtility.highlightedField" [field]="game.displayUtility.highlightedField"></field-detail>
					</div>
				</td>
			 <td>
				<field  [field]="rightFields[i]" [orientation]="'right'"></field>
				</td>
		 </tr>

		 <tr class="table-row-edge" class="h-25">
			 <td >
				<field [field]="specialFields[3]"  [orientation]="'edge_dl'"></field>
			 	</td>
			 <td *ngFor="let field of downFields">
				<field  [field]="field" [orientation]="'down'"></field>
			 	</td>
			 <td >
				<field [field]="specialFields[2]"  [orientation]="'edge_dr'"></field>
			 	</td>
		 </tr>

	 </tbody>
 </table>
