
<div class="container">
	<div class="jumbotron text-center">
	<h3><b>Game Over!</b></h3>
	<div *ngIf="topPlayer">
			<h4 >The victor is:</h4>
			<h2 ><b>{{topPlayer.name}}</b></h2>
	</div>


	</div>
</div>
