<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <h4 class="navbar-text">Monopoly-online!</h4>
    </div>
    <ul class="nav navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="./game">Join Game!</a></li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
