<div  class=" p-2 ">
<div  class=" card h-100">
	<div class="card-body h-100">
		<h3>{{field.position}} {{field.name}}
			<span *ngIf="field.owner" class="text-muted" > {{field.owner.name}}</span>
			<span *ngIf="!field.owner" class="text-muted">vacant</span>
		</h3>

	<div class="row">
		<div class="col-sm-3 border-right">
		<p>Buy price:
			<dollar *ngIf="field.isBuyable" class="float-right" [cash]="field.buyPrice"></dollar>
			<span *ngIf="!field.isBuyable"  class=" float-right"><span class="badge badge-danger">N/A</span> </span>
		</p>
		<div *ngIf="field.description=='UTILITY'">
			<p >Base stay cost: <span class=" float-right " ><span class="badge badge-warning"> {{field.stayPrice}}</span></span></p>

		</div>
		<p *ngIf="field.description!='UTILITY'">Stay cost: <span class=" float-right " ><span class="badge badge-warning">{{field.stayPrice}}</span></span></p>
		</div>

		<div class="col-sm-3 border-right">
		<p>House price:
			<dollar *ngIf="field.isBuildable" class="float-right" [cash]="field.housePrice"></dollar>
			<span *ngIf="!field.isBuildable"  class=" float-right"><span class="badge badge-danger">N/A</span> </span>
		</p>
		<p>Hotel price:
			<dollar *ngIf="field.isBuildable" class="float-right" [cash]="field.hotelPrice"></dollar>
			<span *ngIf="!field.isBuildable"  class=" float-right"><span class="badge badge-danger">N/A</span> </span>
		</p>
		</div>

		<div class="col-sm-3 border-right">
		<p>House number:
			<span *ngIf="field.isBuildable" class=" float-right" ><span class="badge badge-info">{{field.houseNum}}</span></span>
			<span *ngIf="!field.isBuildable"  class=" float-right"><span class="badge badge-danger">N/A</span> </span>
		</p>
		<p>Hotel number:
			<span *ngIf="field.isBuildable" class=" float-right" ><span class="badge badge-info">{{field.hotelNum}}</span></span>
			<span *ngIf="!field.isBuildable"  class=" float-right"><span class="badge badge-danger">N/A</span> </span>
		</p>
		</div>

		<div class="col-sm-3">
			<div *ngIf="field.isBuildable">
			<p><button class="btn btn-primary btn-sm" [disabled]="!canBuildHouse" (click)="restBuild(true,field.position)">BUILD HOUSE</button></p>
			<p><button class="btn btn-primary btn-sm" [disabled]="!canBuildHotel" (click)="restBuild(false,field.position)">BUILD HOTEL</button></p>
			</div>
		</div>

	</div>
	<p *ngIf="field.description=='UTILITY'">Stay cost varies to players, It's equal to BaseCost * player's number of moves</p>
	<p>{{field.description}}</p>
	</div>
</div>
</div>
