
<div class="container">
	<div class="jumbotron text-center">
	<form>
	<h3>Enter your name:</h3>
		<input id="name" (input)="ngOnChanges(null)" [(ngModel)]="name" name="name" type="text" placeholder="player-name" [disabled]="isReady" autofocus>
		<button class="btn btn-primary" (submit)="setName()" (click)="setName()" [disabled]="isReady || !name || isNameRepeating">set your name:</button>
	</form>
	<p class="text-danger" *ngIf="isNameRepeating">This name is already taken</p>
	<h1 >{{nameSet}}</h1>
	<h1>waiting for players: <br><span *ngIf="stateManager.waitingPlayers"> {{stateManager.waitingPlayers}}/{{stateManager.targetPlayers}}</span> </h1>
	<h1 *ngIf="isReady" class="text-primary">Ready!</h1>
	</div>
</div>
