<div class="container-fluid" >
	<div class="row ">
		<div class="col-sm-2 ">
			<div class="d-flex flex-column" [ngStyle]="{'height':'50em'}">
			<players [players]='game.players'></players>
			<messages class="d-flex flex-column flex-grow-1" [ngStyle]="{'min-height':'0'}" [game]='game'></messages>
			<div></div>
			</div>
		</div>
		<div class="col-sm-10 " [ngStyle]="{'height':'50em'}">
			<game-table [game]='game'></game-table>
		</div>
	</div>
</div>
