
<div class ="h-100 w-100" [ngStyle]="{'min-width.em': 2}" [ngClass]="{'bg-light':(field.owner==field.game.displayUtility.highlightedPlayer && field.game.displayUtility.highlightedPlayer != null) || field.game.displayUtility.highlightedField==field}" (mouseover)="onMouseover()" >
<div class ="h-100 w-100 d-flex justify-content-between text-center" [ngClass]="orientationDict[orientation][0]" >

	<div class="text-primary" [ngClass]="orientationDict[orientation][1]" >
		<div class=" h-100 w-100 badge-primary" *ngIf="field.owner && field.isBuyable">
		<player-name  [player]="field.owner"></player-name>
		</div>
		<p *ngIf="!field.owner && field.isBuyable" class="text-muted ">vacant</p>
		<p *ngIf="!field.owner && !field.isBuyable" class="text-muted ">---</p>

	</div>
	<div>
		<span *ngFor="let player of field.game.players">
			<player-name *ngIf="player.field == field" [player]="player"></player-name>

		</span>
	</div>
	<div class="text-primary" [ngClass]="orientationDict[orientation][1]" [ngStyle]="{'background-color': field.color }">
		<span *ngIf="field.isBuyable && field.isBuildable" >
			<span *ngIf="field.houseNum > 0" class="badge badge-light">houses:{{field.houseNum}}</span>
			<span *ngIf="field.hotelNum > 0" class="badge badge-light">hotels:{{field.hotelNum}}</span>
		</span>

		<img class="h-100" *ngIf="field.symbol" src="assets/icons/{{field.symbol}}.svg">

	</div>
</div>
</div>

<!--	<p> {{field.position}} {{orientation}}</p> -->
