
<span class="badge" (mouseover)="onMouseover()" (mouseleave)="onMouseout()" [ngClass]="{' border border-success':player==player.game.userPlayer,'text-muted':player.isBankrupt}">{{player.name}}</span>
<!--	<p> {{field.position}} {{orientation}}</p> -->
