<div >
	<p><span (click)="toggleHide()" class="text-muted float-right">*</span></p>
	<div *ngIf="!isHidden" class="row">
		<div class="card col-sm-4">
			<p>SENDING</p>
			<input type="text" [(ngModel)]="sendText" placeholder="sendText">
			<input type="text" [(ngModel)]="sendAddr" placeholder="sendAddr">
			<button (click)="send()">send</button>
		</div>
		<div class="card col-sm-4">
			<p>CONNECTIONS </p>

			<p>http://localhost:8080/game</p>
			<input type="text" [(ngModel)]="serverURL" placeholder="server url">
			<button (click)="connect()">connect</button>
			<input type="text" [(ngModel)]="subscriptionAddr" placeholder="subscription address">
			<button (click)="subscribe()">subscribe</button>
			<button (click)="disconnect()">disconnect</button>
		</div>
		<div class="card col-sm-4">
			<p>UTIL</p>
			<input type="text" [(ngModel)]="playerName" placeholder="joe">
			<button (click)="addPlayer()">add player</button>
			<button (click)="performRoutine()">ROUTINE</button>
			<button (click)="simulateRoll()">ROLL</button>
			<button (click)="simulateEndTurn()">END-TURN</button>
			<button (click)="simulateBuy()">BUY (current player)</button>
			<button (click)="buyHouse()">BUILD HOUSE (current player)</button>
			<button (click)="buyHotel()">BUILD HOTEL (current player)</button>
			<button (click)="gameService.stateManager.endGame()">End Game</button>
			<p>websocket simulating actions</p>

		</div>
	</div>
</div>
