<div class="container" *ngIf="gameService.stateManager.state == 'NO_GAME'">
	<div class="jumbotron">
	<div class="alert alert-danger">
		<h1 class="text-center">aww. This url doesn't have an active game in it!</h1>
	</div>
	</div>

</div>
<await *ngIf="gameService.stateManager.state == 'WAITING'"></await>
<play *ngIf="gameService.stateManager.state == 'GAME'"  [game]="gameService.stateManager.game"></play>
<over *ngIf="gameService.stateManager.state == 'GAME_OVER'"></over>

<websocket-debug [hidden]="false"></websocket-debug>
